body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #08405e;
    color: #fff;
    font-family: 'Sofia Sans', sans-serif;
}

header {
    background-color: #04293A;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a, nav li a {
    text-decoration: none;
    color: #29ABE2;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
}

main h2 {
    color: #FFF;
}

footer {
    background-color: #04293A;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer * {
    display: inline;
}

.hidden {
    display: none;
    font-size: 0;
}

main fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

main legend {
    font-weight: bold;
    font-size: 18px;
}

main label {
    display: block;
    margin-bottom: 5px;
}

main input[type="radio"] {
    margin-right: 5px;
}

button, .button {
    background-color: #017abd; /* Adjusted color for better contrast */
    color: #fff;
    padding: 15px 30px; /* Increased padding for a larger button */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px; /* Larger font size for better readability */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform for a subtle effect */
    text-decoration: none; /* Removing underline from text */
    display: inline-block; /* To apply padding and centering correctly */
    margin: 10px 0; /* Added margin for spacing */
}

button:hover, .button:hover {
    background-color: #015c8c; /* Darker shade on hover for interactive feedback */
    transform: scale(1.05); /* Slight increase in size on hover for interactive feedback */
}

main p {
    font-size: 18px;
    color: #FFF;
    margin-bottom: 10px;
}

main a {
    color: #29ABE2;
    text-decoration: underline;
}

section {
    margin-bottom: 30px;
}
